ANTHROPIC_API_KEY=your_anthropic_key_here
NOTION_TOKEN=your_notion_token_here
NOTION_PARENT_PAGE_ID=d8011d2b-2469-83a5-9d56-011480c17407
NOTION_ALLOWED_ORIGIN=http://localhost:5173
NOTION_RESOURCE_TRACKER_DB_ID=
NOTION_MASTER_SCHEDULE_DB_ID=
NOTION_SUBJECTS_DB_ID=
NOTION_WEAK_TOPICS_DB_ID=
NOTION_PRACTICE_EXAMS_DB_ID=
VITE_NOTION_API_BASE_URL=
